@font-face {
  font-family: 'Axiforma', sans-serif !important;
  src: url('./assets/fonts/Axiforma-Regular.ttf');
}

#app {
  font-family: 'Axiforma', sans-serif !important;
}
.v-btn,
.v-card,
.v-data-table,
.v-toolbar,
.v-text-field,
.v-select,
.v-checkbox,
.v-chip {
  font-family: 'Axiforma', sans-serif !important;
}

* {
  font-family: 'Axiforma', sans-serif !important;
}

.text-h1 {
  font-family: 'Axiforma', sans-serif !important;
  font-size: 38px !important;
  font-weight: 700 !important;
}

.text-h2 {
  font-family: 'Axiforma', sans-serif !important;
  font-size: 25px !important;
  font-weight: 700 !important;
}

.text-h3 {
  font-family: 'Axiforma', sans-serif !important;
  font-size: 23px !important;
  font-weight: 700 !important;
}

.text-h3 {
  font-family: 'Axiforma', sans-serif !important;
  font-size: 20px !important;
  font-weight: 600 !important;
}

.text-body1 {
  font-family: 'Axiforma', sans-serif !important;
  font-size: 18px !important;
  font-weight: 600 !important;
}

.text-body2 {
  font-family: 'Axiforma', sans-serif !important;
  font-size: 15px !important;
  font-weight: 400 !important;
}

.top-rank {
  color: #ffffff !important;
  text-shadow: -4px 4px 6px #ff00ee !important;
}

.v-row {
  margin: 0; /* Removes the space between columns */
}
.v-card {
  border: 1px solid white;
}
.pricing-card {
  padding: 16px;
  transition: transform 0.2s ease-in-out;
}
.pricing-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2);
}
